# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [21]:
import pandas as pd
import numpy as np

ano = [1900,1920,1940,1960,1980,2000,2020]
anomalia_termica = [-0.08, -0.027, 0.012, -0.03, 0.26, 0.40, 1.02]

sr_temp_global = pd.Series(ano,anomalia_termica)
print (sr_temp_global)

-0.080    1900
-0.027    1920
 0.012    1940
-0.030    1960
 0.260    1980
 0.400    2000
 1.020    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [19]:
sr_temp_global = pd.Series(index=ano,data=anomalia_termica)
print (sr_temp_global)

1900   -0.080
1920   -0.027
1940    0.012
1960   -0.030
1980    0.260
2000    0.400
2020    1.020
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [23]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

sr_dic_temp_global = pd.Series(dic_temperaturas)
print(sr_dic_temp_global)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [41]:
arr = np.random.normal(100, 10, (20,3))

df_arr = pd.DataFrame(arr)
print(df_arr)

             0           1           2
0    81.103765   94.788068   93.619080
1    93.081498  110.995065   93.084000
2   109.978293  111.188296  103.662883
3   102.460371   98.463780  116.894178
4    93.947508   92.340197   93.775880
5    88.679666   91.633692  124.143259
6    95.630396   88.313664   95.923295
7    79.234287  106.093725  100.195584
8    92.975052   96.216406   92.376665
9   111.724943   81.601163  112.093973
10   83.432581   95.709718  101.118206
11  102.580768   82.999298  116.445593
12   85.612056  104.433776  120.126512
13  109.920309   78.245717  104.030338
14   97.467806   95.751507  105.876074
15   92.976973   87.644601   85.427693
16  112.482297  104.140898  103.108900
17   98.933795   78.733383  106.180266
18  111.581373  110.825835  114.126474
19   96.613414   98.365039  101.206035

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [44]:
indices = list(range(1,21)) 
colunas = ["x1","x2","x3"]

df_arr_dois = pd.DataFrame(df_arr.values, index = indices, columns = colunas)
print (df_arr_dois)

            x1          x2          x3
1    81.103765   94.788068   93.619080
2    93.081498  110.995065   93.084000
3   109.978293  111.188296  103.662883
4   102.460371   98.463780  116.894178
5    93.947508   92.340197   93.775880
6    88.679666   91.633692  124.143259
7    95.630396   88.313664   95.923295
8    79.234287  106.093725  100.195584
9    92.975052   96.216406   92.376665
10  111.724943   81.601163  112.093973
11   83.432581   95.709718  101.118206
12  102.580768   82.999298  116.445593
13   85.612056  104.433776  120.126512
14  109.920309   78.245717  104.030338
15   97.467806   95.751507  105.876074
16   92.976973   87.644601   85.427693
17  112.482297  104.140898  103.108900
18   98.933795   78.733383  106.180266
19  111.581373  110.825835  114.126474
20   96.613414   98.365039  101.206035

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [47]:
df_arr_dois["media"] = df_arr_dois.mean(axis=1)

print(df_arr_dois)

            x1          x2          x3       media
1    81.103765   94.788068   93.619080   89.836971
2    93.081498  110.995065   93.084000   99.053521
3   109.978293  111.188296  103.662883  108.276491
4   102.460371   98.463780  116.894178  105.939443
5    93.947508   92.340197   93.775880   93.354528
6    88.679666   91.633692  124.143259  101.485539
7    95.630396   88.313664   95.923295   93.289119
8    79.234287  106.093725  100.195584   95.174532
9    92.975052   96.216406   92.376665   93.856041
10  111.724943   81.601163  112.093973  101.806693
11   83.432581   95.709718  101.118206   93.420168
12  102.580768   82.999298  116.445593  100.675220
13   85.612056  104.433776  120.126512  103.390781
14  109.920309   78.245717  104.030338   97.398788
15   97.467806   95.751507  105.876074   99.698462
16   92.976973   87.644601   85.427693   88.683089
17  112.482297  104.140898  103.108900  106.577365
18   98.933795   78.733383  106.180266   94.615815
19  111.581373  110.825835  114.126474  112.177894
20   96.613414   98.365039  101.206035   98.728163

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [48]:
df_arr_dois["ln_media"] = np.log(df_arr_dois["media"])

print(df_arr_dois)

            x1          x2          x3       media  ln_media
1    81.103765   94.788068   93.619080   89.836971  4.497997
2    93.081498  110.995065   93.084000   99.053521  4.595660
3   109.978293  111.188296  103.662883  108.276491  4.684688
4   102.460371   98.463780  116.894178  105.939443  4.662868
5    93.947508   92.340197   93.775880   93.354528  4.536404
6    88.679666   91.633692  124.143259  101.485539  4.619916
7    95.630396   88.313664   95.923295   93.289119  4.535703
8    79.234287  106.093725  100.195584   95.174532  4.555712
9    92.975052   96.216406   92.376665   93.856041  4.541762
10  111.724943   81.601163  112.093973  101.806693  4.623076
11   83.432581   95.709718  101.118206   93.420168  4.537107
12  102.580768   82.999298  116.445593  100.675220  4.611900
13   85.612056  104.433776  120.126512  103.390781  4.638516
14  109.920309   78.245717  104.030338   97.398788  4.578814
15   97.467806   95.751507  105.876074   99.698462  4.602150
16   92.976973   87.644601   85.427693   88.683089  4.485069
17  112.482297  104.140898  103.108900  106.577365  4.668871
18   98.933795   78.733383  106.180266   94.615815  4.549825
19  111.581373  110.825835  114.126474  112.177894  4.720086
20   96.613414   98.365039  101.206035   98.728163  4.592370